/* Styles go here */

body {
    background-color: lightgray;
    color: solid black;
    font-weight: bold;
}

#card1 {
    background-color: lightblue;
    border-radius: 10px 15px;
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

#card2 {
    border-radius: 10px 15px;
    border: 1px solid black;
}